<div id="delete-modal" class="alert alert-danger" style="display: none">Do you really want to delete <b></b>?
    <form id="modal-form" method="POST">
        <button type="submit" class="btn btn-success">Yes, delete!</button>
        <button id="cancel" class="btn btn-secondary">Cancel...</button>
    </form>
</div>

<h1>Manage your albums</h1>

<table class="table">
    <tr>
        <th>Title</th>
        <th>Band</th>
        <th>Year</th>
        <th>Device</th>
        <th></th>
        <th></th>
        <th></th>
    </tr>
    {{#each albums }}
    <tr>
        <td id="album-title">{{title}}</td>
        <td>{{band}}</td>
        <td>{{year}}</td>
        <td>{{device}}</td>
        <td><a class="btn btn-primary" href="/view/{{id}}">View</a></td>
        <td><a class="btn btn-success" href="/edit/{{id}}">Edit</a></td>
        <td><button class="btn btn-danger delete-album" data-title="{{title}}" data-id="{{id}}">Delete</button></td>
    </tr>
    {{/each}}
</table>

<script src="/js/deleteModal.js"></script>